@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Fira+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  padding: 0;
  margin: 0;
  /* font-family: 'DM Sans', sans-serif; */
  /* font-family: 'Fira Sans Condensed', sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
}

h1 {
  color: rgba(255, 255, 255, 0.493);
  font-family: 'Diplomata SC', cursive;
  text-shadow: 2px 2px rgb(214, 200, 119);
  animation: fadeIn 5s;
  animation-iteration-count: infinite;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-12 {
  margin: 10vh;
  display: flex;
  justify-content: center;
}

.map-container {
  width: 100%;
  height: 35vh;
}

ion-icon {
  font-size: 1.2em;
  color: black;
  transition: transform 0.5s;
}

ion-icon:hover {
  color: crimson;
  transform: translateY(-5px);
}

a {
  text-decoration: none;
}

.navbar {
  height: 50px;
  margin-bottom: 5vh;
  /* position: absolute; */
}

h1 {
  margin-bottom: 3vh;
}

body {
  background: black;
}

.navbar {
  background: rgb(207, 181, 59);
}

.logo {
  width: 2rem;
  border-radius: 3px;
  transform: scale(1.5);
  margin-left: 1em;
  padding-bottom: 4px;
}

video {
  position: static;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.d-flex {
  display: flex !important;
  justify-content: space-around;
}

summary {
  color: white;
}

@media screen and (max-width: 600px) {
  .navbar {
    padding-right: 2rem;
  }
  .d-flex {
    justify-content: space-between;
    padding-right: 0.1rem;
  }
}
